<application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:theme="@style/AppTheme">
    
    <!-- ADICIONE ESTA LINHA AQUI -->
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="iNhceBmfhEuuZE6yV2sIaiojCFM=" />
    
    <activity
        android:name=".MainActivity"
        android:exported="true"
        ...>
    </activity>
</application>